<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appbooking">
    <!-- Quyền cần thiết -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BROADCAST_SMS"
        tools:ignore="BroadcastWithoutPermission,ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBooking"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".page.admin.QuanLyMaGiamGia.Component.Chitietmauudai"
            android:exported="false" />
        <activity
            android:name=".page.admin.QuanLyDanhGia.Component.ThongKeDanhGiaActivity"
            android:exported="false" />
        <activity
            android:name=".page.admin.QuanLyDanhGia.Component.XemCacDanhGiaActivity"
            android:exported="false" />
        <activity
            android:name=".page.admin.QuanLyDanhGia.QuanLyDanhGiaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppBooking" />
        <activity
            android:name=".page.admin.QuanLyMaGiamGia.Component.SuaMaGiamGia"
            android:exported="false" />
        <activity
            android:name=".page.admin.QuanLyMaGiamGia.Component.TaoMaGiamGia"
            android:exported="false" />
        <activity
            android:name=".page.admin.QuanLyMaGiamGia.Component.ThongTinMaGiamGia"
            android:exported="false" />
        <activity
            android:name=".page.admin.QuanLyMaGiamGia.QuanLyMaGiamGia"
            android:exported="false" />
        <activity
            android:name=".Activities.EditInfoUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddInfoUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.InfoUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" /> <!-- Các activity -->
        <activity
            android:name=".page.admin.quanLyUser.quanLyUser"
            android:exported="false" />
        <activity
            android:name=".page.admin.adRoom.quanLyPhong"
            android:exported="false" />
        <activity
            android:name=".page.admin.adRoom.Component.AddRoom"
            android:exported="false" />
        <activity
            android:name=".page.admin.adRoom.Component.addRoomType"
            android:exported="false" />
        <activity
            android:name=".page.admin.quanLyUser.Component.editUser"
            android:exported="false" />
        <activity
            android:name=".page.admin.homeAdmin"
            android:exported="false" />
        <activity
            android:name=".page.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".page.customer.OrderHotelFragment" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".page.customer.DetailsTypeRoomActivity"
            android:exported="false" />
        <activity android:name=".page.customer.PayMentHouse" />
        <activity android:name=".page.customer.EditCustomerInfoActivity" />
        <activity android:name=".page.admin.QuanLyDon.RoomDetailDon" />
        <activity
            android:name=".page.admin.QuanLyDon.QuanLyDonThanhToan"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>